{% extends "layout.html" %}

{% block content %}
	<h1> GOLD Sniper</h1>
	<center><img src="http://vignette2.wikia.nocookie.net/crossfirefps/images/f/fd/Sniper_AWM-Gold.png/revision/20140630052342" alt="Sniper" height="45" width="131"></center>

	<form method="post" action="{{ url_for('submit') }}">
		<div class="input-group-lg">
  			<label for="username">GOLD Username</label>
  			<input type="text" name="username" class="form-control" placeholder="Phillip Conrad" aria-describedby="basic-addon1">
		</div>
		<div class="input-group-lg">
 				<label for="password">GOLD Password</label>
  			<input type="password" name = "password" class="form-control" placeholder="********" aria-describedby="basic-addon1">
		</div>
		<div>
			<label for="quarter">Desired Quarter</label>
				<select class="form-control" name="quarter">
					<option value="20154">Fall 2015</option>
					<option value="20161">Winter 2016</option>
					<option value="20162">Spring 2016</option>
				</select>
		</div>
		<div class="input-group-lg">
  			<label for="enroll_code">Enrollment Code</label>
  			<input type="text" name="enroll_code" class="form-control" placeholder="58677" aria-describedby="basic-addon1">
		</div>
		<div class="input-group-lg">
  			<label for="passtime">Pass Time</label>
  			<input type="text" name="passtime" class="form-control" placeholder="mm/dd/yy HH:MM" aria-describedby="basic-addon1">
		</div>

		<button class="btn btn-default btn-lg" type="submit">Submit</button>
	</form>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
{% endblock %}
