h1 {
	text-align:center;
	color:#000000;
}

div{
	margin-left:20%;
	margin-right:20%;
}

select{
	margin-left: 20%;
	margin-right: 20%;
}

option {
	margin-left: 20%;
	margin-right: 20%;
}

form {
	text-align: center;
}

