h1 {
	text-align:center;
	color:#000000;
}

form {
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}

input, textarea, select{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

